<% visiter = notification.visiter %>
<% tweet = notification.tweet %>

  <section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">

  <%= link_to user_path(notification.visiter_id) do %>
   <p><%= attachment_image_tag visiter, :profile_image, :fill,60,60, format: "jpeg", fallback: "no_image.jpg",class: "is-rounded" %></p>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>
</div>
</article>
</section>